html, body {
  background-color: red;
  background-repeat: no-repeat;
  width:100%;
  height: 100%;
  background-size: cover;
  background-image: linear-gradient(to bottom, #ea4492, #ff7b89);
}

.app {
  display: flex;
  justify-content: center;
}

.list {
  color: #ffffff !important;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.custom-button {
  border: 1px solid orange;
  border-radius: 3px;
  background-color: inherit;
  color: white;
  margin-right: 10px;
  padding: 6px 12px;
}

.far, .fas {
  padding-right: 10px;
}

.custom-button:hover {
  background-color: orange;
}

.custom-button:focus {
  box-shadow: none;
  outline-color: orange;
}

.form-control {
  background-color: inherit !important;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid orange;
  color: #ffffff !important;
}

.form-control:focus {
  box-shadow: none;
}

.paper {
  background-color: #232b2b !important;
  width: 70%;
  height: 100%;
  margin-top: 50px;
  padding: 10px;
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  .paper {
    width: 100%;
  }
}
